.credits {
    position: absolute;
    top: 55%;
    left: 0;
    right: 0;
    margin: 1.5vw 0 0;
    transform: translateY(-100%);
    opacity: 0;
    transition: opacity 0.3s ease-in-out;
}

.credits.show {
    opacity: 1;
}

.credits__container {
    position: relative;
}

.credits__button {
    grid-column: 12;
    position: relative;
    bottom: unset;
    right: unset; 
    background-color: transparent;
    border: 0px solid;
    text-align: right;
    grid-row: 1;
    align-self: self-start;
	font-family: 'SuisseInt', Arial, Helvetica, sans-serif;
    font-size: clamp(10px, 1.2vw, 20px);
    letter-spacing: -5%;
    text-transform: uppercase;
    color: #3E1031;
    cursor: pointer;
    opacity: 1;
    transition: opacity 0.3s ease-in-out;
    /* border-top: 2px dotted transparent; */ 
}

.credits__title {
    pointer-events: none;
    position: absolute;
    bottom: 100%;
    right: 0;
    font-size: 8vw;
	font-family: 'Honeymoon', serif;
    transform: translateY(0vw) scale(0.8, 1.4);
    letter-spacing: -0.8vw;
}

.credits__button::first-letter {
	font-family: 'Honeymoon', serif;
    line-height: clamp(10px, 1vw, 20px);Ò
    transform: translateY(5px);
    font-size: clamp(20px, 2vw, 40px);
    margin-top: clamp(-20px, -2vw, -40px);
}


/* 
.credits__button:hover + .credits {
    opacity: 1;
} */

/* 
.credits__button + .credits {
    opacity: 1;
} */
/* 
.credits__button:focus + .credits {
    opacity: 1;
} */

.credits__item {
    margin: 0 0vw;
    width: 100%;

}

.credits__label {
    grid-column: 8 / 10;
    text-align: right;
    font-family: 'SuisseInt', Arial, Helvetica, sans-serif;
    font-size: clamp(10px, 1vw, 20px);
    letter-spacing: -5%;
    text-transform: uppercase;
    color: #3E1031;
    position: relative;
    line-height: clamp(10px, 1vw, 20px);
    transform: translateY(-3px);
    initial-letter: 2;

}

.credits__label:first-letter {
	font-family: 'Honeymoon', serif;
    line-height: clamp(10px, 1vw, 20px);
    transform: translateY(5px);
    font-size: clamp(20px, 2vw, 40px);
    margin-top: clamp(-20px, -2vw, -40px);
}

.credits__name {
    grid-column: 10 / 13;
    font-family: 'SuisseInt', Arial, Helvetica, sans-serif;
    font-size: clamp(10px, 1vw, 20px);
    letter-spacing: -5%;
    text-transform: uppercase;
    color: #3E1031;
    /* text-align: right; */
}

@media screen and (max-width: 750px) {
    .credits {
        top: 40vw;
        transform: translateY(0);
    }
    /* .credits__item {
        margin: 0 2vw;
        width: fit-content;
    } */
    .credits__button {
        grid-column: 6;
    }
    .credits__title {
        right: unset;
        left: 0;
    }
    .credits__label {
        grid-column: 2 / 4 ;
    }
    .credits__name {
        grid-column: 4 / 7 ;
    }
}