.lyrics-container {
    z-index: 100;
    position: absolute;
    width: 30vw;
    top: 22vh;
    right: 7vw;
    pointer-events: none;
    opacity: 0;
}

.lyrics {
    opacity: 0;
    will-change: opacity;
}
.lyrics-container.show {
    opacity: 1;
}
.lyrics-container.show .lyrics {
    /* opacity: 1; */
    animation: appearFade 3000ms ease-in-out 1 both;

    /* transition-delay: var(--delay); */
}

.lyrics-container.show2 .lyrics {
    animation: appearFade 3000ms ease-in-out 1 both;
    /* opacity: 1; */
    /* transition-delay: var(--delay); */
}

.lyrics-container.show .lyrics.lyrics--and {
    animation-delay: 0ms;
}

.lyrics-container.show .lyrics.lyrics--the {
    animation-delay: 150ms;
}

.lyrics-container.show .lyrics.lyrics--frost {
    animation-delay: 600ms;
}

.lyrics-container.show .lyrics.lyrics--took {
    animation-delay: 900ms;
}

.lyrics-container.show .lyrics.lyrics--up {
    animation-delay: 900ms;
}

.lyrics-container.show .lyrics.lyrics--the2 {
    animation-delay: 1200ms;
    animation-duration: 5000ms;
}

.lyrics-container.show .lyrics.lyrics--eyes {
    animation-delay: 1200ms;
    animation-duration: 5000ms;
} 

@media screen and (max-width: 750px) {
    .lyrics {
        width: 110vw;
        top: 17vh;
        right: 1vw;
    }
}

@keyframes appearFade {
    0% {opacity: 0.001}
    50% {opacity: 1}
    100% {opacity: 0}
}
