.splash {
    position: fixed;
    z-index: 3;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgb(210 210 210 / 0%);
    /* backdrop-filter: blur(5px); */
    color: #3E1031;  
    transition: opacity 0.3s ease-in-out;
}

.splash.is-hidden {
    opacity: 0;
    pointer-events: none;
}

.resting .splash {
    opacity: 1;
    pointer-events: none;
}

.resting .splash__logo {
    opacity: 0;
}

.resting .splash__play{
    pointer-events: all;
}

.resting .credits__button {
    pointer-events: all;  
}

.grid {
    display: grid;
    grid-column: repeat(1fr, 12);
    grid-template-columns: repeat(12, 1fr);
    margin: 1.5vw;
    column-gap: 15px;
}

.splash__cover {
	font-family: 'SuisseInt', Arial, Helvetica, sans-serif;
    font-size: clamp(10px, 1.2vw, 20px);
    letter-spacing: -5%;
    text-transform: uppercase;
    color: #3E1031;
}


.splash__names {
}
.splash__name {
	font-family: 'Honeymoon', serif;
    font-size: clamp(32px, 3.8vw, 70px);
    transform: translateY(-3.3vw) scale(0.8, 1.4);
    transform-origin: left bottom;
    letter-spacing: -0.2vw;
    text-decoration: none;
}

.splash__name, .splash__name:visited, .splash__name:focus {
    color: #3E1031;
}

.splash__name--1
{
    grid-column: 3 / 8;
}

.splash__name--2
{
    grid-column: 4 / 8;
    transform: translateY(-5.3vw) scale(0.8, 1.4);
    text-transform: uppercase;
}

.splash__logo {
    bottom: -1%;
    width: 100%;
    position: absolute;
    transform: scaleY(0.99);
    transform-origin: bottom;
    pointer-events: none;
}

.splash__play {
    z-index: 5;
    position: absolute;
    left: 50%;
    top: 50%;
    right: unset;
    bottom: unset;
    background-color: transparent;
    border: none;
	font-family: 'SuisseInt', Arial, Helvetica, sans-serif;
    font-size: clamp(18px, 2vw, 34px);
    letter-spacing: -5%;
    text-transform: uppercase;
    color: #3E1031;
    /* border-bottom: 2px dotted #3E1031; */
    transform: translate(-50%, -200%);
    /* transition: border 0.3s ease-in-out; */
    cursor: pointer;
    display: inline-block;
    text-align: right;
    /* align-self: start; */
    
}

.play .splash__play {
    right: 16px;
    left: unset;
    transform: translate(0%, -100%);
}

.play .splash__play {
    position: absolute;
    right: 24px; 
	font-family: 'SuisseInt', Arial, Helvetica, sans-serif;
    font-size: clamp(10px, 1.2vw, 20px);
    letter-spacing: -5%;
    text-transform: uppercase;
}

.play .splash__play::first-letter {
	font-family: 'Honeymoon', serif;
    line-height: clamp(10px, 1vw, 20px);
    transform: translateY(5px);
    font-size: clamp(20px, 2vw, 40px);
    margin-top: clamp(-20px, -2vw, -40px);
}

.splash__play:hover {
    /* filter: hue-rotate(180deg); */
}

.splash__play:hover .letter {
    filter: hue-rotate(180deg);

}


.letter-0 {
	font-family: 'Honeymoon', serif;
    line-height: clamp(10px, 1vw, 20px);
    transform: translateY(2px);
    font-size: clamp(40px, 4vw, 82px);
    margin-top: clamp(-20px, -2vw, -40px);
    animation: pop 2s ease-in-out infinite;
    transform-origin: bottom;
    display: inline-block;
}

/* .splash__play:hover {
	font-family: 'Honeymoon', serif;
    line-height: clamp(10px, 1vw, 20px);
    */
    /* transform: translate(-10px, 12px); *//*
    transform: translateY(3px) scale(0.8, 1.4);
    font-size: clamp(20px, 2vw, 40px);
    margin-top: clamp(-20px, -2vw, -40px);
    letter-spacing: -0.7vw;
    border-color: transparent;
} */

.letter {
    /* display: flex; */
    transform-origin: bottom;
    display: inline-block;
    letter-spacing: -7px;
    animation: pop 2s ease-in-out infinite;
}

.letter-1 {
    animation-delay: 0.2s;
}

.letter-2 {
    animation-delay: 0.4s;
}

.letter-3 {
    animation-delay: 0.6s;
}

.letter-4 {
    animation-delay: 0.8s;
}

.letter-5 {
    animation-delay: 1s;
}

.letter-6 {
    animation-delay: 1.2s;
}

@media screen and (max-width: 750px) {
    .splash__play {
        position: absolute;
        right: 24px; 
        font-family: 'SuisseInt', Arial, Helvetica, sans-serif;
        font-size: clamp(10px, 1.2vw, 20px);
        letter-spacing: -5%;
        text-transform: uppercase;
    }
    
    .splash__play::first-letter {
        font-family: 'Honeymoon', serif;
        line-height: clamp(10px, 1vw, 20px);
        transform: translateY(5px);
        font-size: clamp(20px, 2vw, 40px);
        margin-top: clamp(-20px, -2vw, -40px);
    }
    .grid {
            grid-template-columns: repeat(6, 1fr);
            margin: 2vw;
            column-gap: 10px;
    }
    .splash__logo {
        bottom: 0%;

    }
}

@keyframes pop {
    0% {
      opacity: 1;
    }
    50% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
}